* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.logo {
    font-size: 44px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 32px;
}


body {
    min-height: 100vh;
    background-color: #0d011e;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Asosiy karta */
.card {
    width: 350px;
    background-color: #011a2a;
    border: 1px solid #2e2e2e;
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
}

/* Instagram logo */


/* Inputlar */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #262626;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #a8a8a8;
}

input:focus {
    outline: none;
    border-color: #555;
}

/* Kirish tugmasi */
button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1877f2;
}

/* Pastki yozuv */
.footer {
    margin-top: 20px;
}

.footer small {
    color: #a8a8a8;
}


.ig-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
}

